@mixin fx-row {
  display: flex;
  align-items: center;
}

@mixin fx-column {
  display: flex;
  flex-direction: column;
}

@mixin fx-center {
  display: flex;
  align-items: center;
  justify-content: center;
}