/* COLORS */
$color-bg: #191A1F;
$color-contrast: #FFFFFF;
$color-main: #FFC266;

$color-grey: #7E8088;
$color-grey-hover: #606168;
$color-grey-dark: #433F49;

$gradient-light: linear-gradient(90deg, #E8B24F, #DD475E);
$gradient-dark: linear-gradient(90deg, #DD475E, #6D1576);

/* FONTS */
$font-xs: 14px;
$font-small-text: 20px;
$font-text: 22px;
$font-big-text: 24px;
$font-subtitle: 32px;
$font-title: 52px;
$font-huge-text: 108px;
